<div class="content-holder">
	<div class="content-t">&nbsp;</div>
	<div id="content"> <img src="/images/gradient.gif" alt="" class="gradient" />
	  <div class="block-container">
	    <div class="review-block">
	      <%= form_for(@user, :html => { :class => "recipe-form", :multipart => true } ) do |f| %> 
	        <%= render 'shared/error_messages', :object => f.object %>
	        <fieldset>
	          <div class="recipe-box">
	            <div class="image-box"> <img src="/images/add-a-picture.gif" alt="" width="91" height="117" /><br />
	              <%= f.file_field :avatar %>
	            </div>
	            <div class="form-holder">
		          <div class="row">
			        <h2 class="trigger">User Registration</h2>
			      </div>
	              <div class="row">
	                <%= f.label :name %>
	                <div class="input-section"> 
		              <span class="left">&nbsp;</span> 
		              <span class="input-holder">
	                    <%= f.text_field :name, :size => 23, :class => 'text' %> 
	                  </span> 
	                  <span class="right">&nbsp;</span> 
	                </div>
                  </div>
                  <div class="row">
	                <%= f.label :last_name %>
	                <div class="input-section"> 
		              <span class="left">&nbsp;</span> 
		              <span class="input-holder">
	                    <%= f.text_field :lastname, :size => 23, :class => 'text' %> 
	                  </span> 
	                  <span class="right">&nbsp;</span> 
	                </div>
                  </div>
	              <div class="row">
	                <%= f.label :gender %>
	                <div class="input-sections"> 
		              <span class="lefts">&nbsp;</span> 
		              <span class="input-holders">
	                    <%= f.select :gender, gender_list %> 
	                  </span> 
	                  <span class="rights">&nbsp;</span> 
	                </div>
                  </div>
	              <div class="row">
	                <%= f.label :birthday %>
	                <div class="input-sections"> 
		              <span class="lefts">&nbsp;</span> 
		              <span class="input-holders">
	                    <%= date_select(:user, :birthday, :start_year => 1950, :order => [:month, :day, :year]) %> 
	                  </span> 
	                  <span class="rights">&nbsp;</span> 
	                </div>
                  </div>
                  <div class="row">
	                <br/><br/>
			        <h2 class="trigger">Select and ID and password</h2>
			      </div>
			      <div class="row">
	                <%= f.label :email %>
	                <div class="input-section"> 
		              <span class="left">&nbsp;</span> 
		              <span class="input-holder">
	                    <%= f.text_field :email, :size => 23, :class => 'text' %> 
	                  </span> 
	                  <span class="right">&nbsp;</span> 
	                </div>
                  </div>
	              <div class="row">
	                <%= f.label :password %>
	                <div class="input-section"> 
		              <span class="left">&nbsp;</span> 
		              <span class="input-holder">
	                    <%= f.password_field :password, :size => 23, :class => 'text' %> 
	                  </span> 
	                  <span class="right">&nbsp;</span> 
	                </div>
                  </div>
	              <div class="row">
	                <%= f.label :confirmation %>
	                <div class="input-section"> 
		              <span class="left">&nbsp;</span> 
		              <span class="input-holder">
	                    <%= f.password_field :password_confirmation, :size => 23, :class => 'text' %> 
	                  </span> 
	                  <span class="right">&nbsp;</span> 
	                </div>
                  </div>
                  <div class="row">
	                <br/><br/>
			        <h2 class="trigger">General Information</h2>
			      </div>
	              <div class="row">
	                <%= f.label :address %>
	                <div class="input-section"> 
		              <span class="left">&nbsp;</span> 
		              <span class="input-holder">
	                    <%= f.text_field :address, :size => 23, :class => 'text' %> 
	                  </span> 
	                  <span class="right">&nbsp;</span> 
	                </div>
                  </div>
	              <div class="row">
	                <%= f.label :city %>
	                <div class="input-section"> 
		              <span class="left">&nbsp;</span> 
		              <span class="input-holder">
	                    <%= f.text_field :city, :size => 23, :class => 'text' %> 
	                  </span> 
	                  <span class="right">&nbsp;</span> 
	                </div>
                  </div>
                  <div class="row">
	                <%= f.label :state %>
	                <div class="input-section"> 
		              <span class="left">&nbsp;</span> 
		              <span class="input-holder">
	                    <%= f.text_field :state, :size => 23, :class => 'text' %> 
	                  </span> 
	                  <span class="right">&nbsp;</span> 
	                </div>
                  </div>
	              <div class="row">
	                <%= f.label :zip_code %>
	                <div class="input-section"> 
		              <span class="left">&nbsp;</span> 
		              <span class="input-holder">
	                    <%= f.text_field :zip_code, :size => 23, :class => 'text' %> 
	                  </span> 
	                  <span class="right">&nbsp;</span> 
	                </div>
                  </div>
	              <div class="row">
	                <%= f.label :country %>
	                <div class="input-section"> 
		              <span class="lefts">&nbsp;</span> 
		              <span class="input-holders">
	                    <%= f.select :country, country_list, :size => 23%> 
	                  </span> 
	                  <span class="rights">&nbsp;</span> 
	                </div>
                  </div>
                  <br/><br/><br/>
                  <div class="row">
	                <div class="recaptcha-section">
                      <%= recaptcha_tags %>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          <% end %> 
	      <div class="box-container">
	        <div class="save-links">
	          <div class="link-save-container"><a href="#" class="save">SAVE</a> </div>
            </div>
          </div>
        </div>
      </div>
  </div>
	<div class="content-b">&nbsp;</div>
</div>
<script type="text/javascript">
  jQuery.noConflict();
  jQuery('.save').click(function () {
    jQuery("#new_user").submit();  
  });
</script>