<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Modernmeal</title>
  <%= stylesheet_link_tag 'all' %>
  <%= stylesheet_link_tag 'jquery.fancybox-1.3.4' %>
  
  <script type="text/javascript" src="/javascripts/prototype.js"></script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "rails" %>
  <script type="text/javascript" src="/javascripts/jquery-1.5.2.js"></script>

  <script type="text/javascript" src="/javascripts/jquery.fancybox-1.3.4.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-1.8.21.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.xml2json.js"></script>

  <script type="text/javascript" src="/javascripts/tiny_mce/tiny_mce.js"></script>
  <script type="text/javascript" src="/javascripts/tiny_mce/jquery.tinymce.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.form.js"></script>
  
  <%= javascript_include_tag "autosize" %>

  <script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js"></script>
  <script type="text/javascript" src="/javascripts/scriptaculous/builder.js"></script>
  <script type="text/javascript" src="/javascripts/scriptaculous/effects.js"></script>
  <script type="text/javascript" src="/javascripts/scriptaculous/controls.js"></script>
  <script type="text/javascript" src="/javascripts/scriptaculous/slider.js"></script>
  <script type="text/javascript" src="/javascripts/scriptaculous/unittest.js"></script>

  <script type="text/javascript" src="/javascripts/cufon/cufon.js"></script>
  <script type="text/javascript" src="/javascripts/cufon/cufon-fonts.js"></script>
  <script type="text/javascript" src="/javascripts/cufon/cufon-settings.js"></script>
  
  <script type="text/javascript" src="/javascripts/jquery.main.js"></script>




  

  <!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/><![endif]-->
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<div id="twocolumns">
				<%= yield %>
				<div id="sidebar">
					<div id="sidebar-container">
					<div class="title-holder">
						<h3>my ModernMeal</h3>
					</div>
					<ul class="sub-nav">
						<% if signed_in? %>
						<li class="active">
						  	<%= link_to home_path do %>
							 <span>my profile</span>
							<% end %>
						</li>
						<li><a href="#"><span>my recipes</span></a></li>
						<li><a href="#"><span>add recipes</span></a></li>
						<li><a href="#"><span>weekly planner</span></a></li>
						<li><a href="#"><span>grocery list</span></a></li>
                        <li><a href="#"><span>our partners</span></a></li>
						<% else %>
						<li><a href="/signup"><span>Registration</span></a></li>
						<% end %>
					</ul>
					<%= form_for(:invite, :html => { :class => "invite" }, :url => { :controller => 'email', :action => 'invite' } ) do |f| %> 
						<fieldset>
						<h4>Invite a friend to MODERNMEAL</h4>
							<div class="row">
								<span class="input-holder">
								  <%= f.text_field :email, :class => 'text' %>
								</span>
							</div>
							<div class="row">
								<a href="#" class="submit">INVITE</a>
							</div>
							<div class="message-status">
							</div>
						</fieldset>
					<% end %>
					<script type="text/javascript">
					  jQuery.noConflict();
					  jQuery('.row .submit').click(function (event) {
						event.preventDefault();
						jQuery('.message-status').html('<img src="/images/loading.gif"  />');
					    var surl  =  "http://localhost:3000/email/invite";
					    var semail = jQuery('#invite_email').val();
							jQuery.ajax({
								type: 'POST',
								url: surl,
								data: { email: semail },
								dataType: 'json',
								success: function(result) {
								  jQuery.each(result, function(key, val) {
								    jQuery('.message-status').html(val);
								  });
								},
								error: function() {
									jQuery('.message-status').html('Internal Server error.')
								}
								});
					  });
					</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>